@import "custom";

.header {
  text-align: center;
}

span {
  &.dangerText {
    color: #dc3545;
  }

  &.infoText {
    color: #17a2b8;
    font-weight: bold;
  }
}

strong {
  font-size: 12px;
}

.link {
  font-size: 12px;
  color: $info;
}

.roundBtn {
  border-radius: 2rem !Important;
  margin: 3px;
}

.IconCropProtection {
  background-image: url(./image/icon/icon_CropProtection.svg);
  background-repeat: no-repeat;
}

.IconFertilistion {
  background-image: url(./image/icon/icon_Fertilisation.svg);
  background-repeat: no-repeat;
}

.IconHarvest {
  background-image: url(./image/icon/icon_Harvest.svg);
  background-repeat: no-repeat;
}

.IconSoilTillage {
  background-image: url(./image/icon/icon_SoilTillage.svg);
  background-repeat: no-repeat;
}

.IconSowing {
  background-image: url(./image/icon/icon_Sowing.svg);
  background-repeat: no-repeat;
}

.IconOffers {
  background-image: url(./image/icon/icon_Offers.svg);
  background-repeat: no-repeat;
}

.IconContractor {
  background-image: url(./image/logo/logo_contrator.svg);
  background-repeat: no-repeat;
}
.IconFarmer {
  background-image: url(./image/logo/logo_farmer.svg);
  background-repeat: no-repeat;
}

.IconQuotes {
  background-image: url(./image/icon/icon_Quotes.svg);
  background-repeat: no-repeat;
}
.IconVehicles {
  background-image: url(./image/icon/icon_vehicles.svg);
  background-repeat: no-repeat;
}

.logoAgroform {
  background-image: url(./image/logo/logo_agroform.svg) !Important;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.logoAgroformMedium {
  background-image: url(./image/logo/logo_agroform.svg) !Important;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 120px;
  height: 120px;
}

// Carousel with fixed background image

.pictureMain {
  background-image: url(./image/img/image_corn.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
}

.containerCarousel {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

.containerCarousel h3 {
  font-size: 1.5rem;
  font-weight: $font-weight-bold;
}

.backgroundCarousel {
  background-color: #fff;
}

.firstItemImg {
  background-image: url(./image/logo/logo_agroform.svg) !Important;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 300px;
  height: 400px;
}

.secondItemImg {
  background-image: url(./image/logo/logo_compare.svg) !Important;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 400px;
  height: 400px;
}

.threeItemImg {
  background-image: url(./image/logo/logo_fields.svg) !Important;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 500px;
  height: 400px;
}

.overlay {
  position: relative;
  margin-bottom: 10%;
}

.borderFill {
  border: 1px solid white;
  background-color: white;
  transform: skewX(-20deg);
  height: 200px;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  z-index: 1;
  position: absolute;
}

.text {
  z-index: 2;
  position: absolute;
}

.loginImage {
  background-image: url(./image/img/img_acker.jpg) !Important;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
}

.registerImage {
  background-image: url(./image/img/img_harvest.jpg) !Important;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
}

.logoContractor {
  background-image: url(./image/logo/logo_contrator.svg) !Important;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}

.logoFarmer {
  background-image: url(./image/logo/logo_farmer.svg) !Important;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}

//Clickable pictures - register

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar1 label {
  display: inline-block;
  background-color: #fff;
  background-image: url(./image/logo/logo_farmer.svg) !Important;
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: center;
  width: 150px;
  height: 130px;
  font-size: 16px;
  border: 1px solid#bbb;
  border-radius: 4px;
  color: "#0C0704"
}

.radio-toolbar2 label {
  display: inline-block;
  background-color: #fff;
  background-image: url(./image/logo/logo_contrator.svg) !Important;
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: center;
  width: 150px;
  height: 130px;
  font-size: 16px;
  border: 1px solid#bbb;
  border-radius: 4px;
  color: "#0C0704"
}

.radio-toolbar label:hover {
  filter: brightness(1.2);
  border-color: #489B34;
}


.radio-toolbar input[type="radio"]:checked+label {
  border: 3px solid#489B34;

  filter: brightness(1.2);
}

// Navbar stick to left

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  min-height: 100vh !important;
  left: 0;
  z-index: 100;
  padding: 10px 10px 0 10px;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebarLinks{
  font-size: 18px;
  padding: 20px 0;
  color: #fff !Important;
}


#sidebar-wrapper{
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

// Icons netx to text


/* Extras */
.current-weather-des {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}



@import "~bootstrap/scss/bootstrap";
